.repair-list {
    font-size: 0.875rem;
    padding: 1.25rem 3rem;
}
/*버튼*/
.repair-list .repair-btn ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.repair-list .repair-btn ul li input {
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;
}
.repair-list ul li.left-btn input.delete {
    background: #333;
    color: #fff;
}
.repair-list .repair-btn ul li.search {
    display: inline-block;
    border-bottom: 1px solid #000;
}
.repair-list .repair-btn ul li.search input {
    outline: none;
    border-radius: 0;
    height: 30px;
}
/*테이블*/
.repair-list table input[type="checkbox"]{
    width: 15px;
    height: 15px;
}
.repair-list table tbody tr:first-child {
    border-bottom: 2px solid #000;
}
.repair-list table tbody tr {
    border-bottom: 1px solid #bdbdbd;
}
.repair-list table tbody td label {
    width: 100%;
}
.repair-list table tbody td,
.repair-list table tbody th {
    padding: 10px;
    vertical-align: middle;
    border: 1px solid #ddd;
}
.repair-list table tbody tr td .text-ellipsis {
    display: table;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}
.repair-list table tbody tr td .text-ellipsis > * {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
}
.repair-list table tbody tr td a.view {
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
    background: #333;
    color: #fff;
}
/* 페이징 버튼 */
ul.repair-page-btn {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    text-align: center;
} 
ul.repair-page-btn li {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #d3d3d3;
    background: #ffff;
    cursor: pointer; 
    font-size: 0.9375rem;
    font-weight: 500;
    width: 35px;
    height: 35px;
    margin-right: 3px;
} 
#page-num-box {
    display: flex;
}
ul.repair-page-btn li.page-btn {
    position: relative;
}
ul.repair-page-btn li.page-btn > a > img{
    width: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
ul.repair-page-btn li.page-num.click {
    background: #151517;
    color: #fff;
} 
